@import "fonts";
@import "settings";
@import "foundation";
@import "fullpage";

// VARIABLES

$header-font : 'hattori'; 
$paragraph-font : 'sassoon';

$dark-blue : #3a5c61;
$light-blue: #79b1be;
$bg-grey : #efefef;
$border-grey: #b3b3b3;
$font-grey : #808080;
$bg-grey-0: #efefef;
$bg-grey-15: #e7e7e7;
$bg-grey-30: #e2e2e2;


// GENERAL

body {
  background-color: $bg-grey;
  font-family: $paragraph-font;
  color: $font-grey;
  overflow-y: scroll; 
}

h1, h2, h3, h4, h5, h6 {
  color: $font-grey;
}

h1 {
  font-size: 1rem;
  line-height: 20px;
}

h2 {
  font-family: $header-font;
}

h3 {
  font-size: 1rem;
  text-align: left;
  margin-top: 1.2rem;
}

h4 {
    font-family: 'hattori-italic';
    font-size: 1.3rem;
}

p {
  text-align: left;
  font-size: 0.8rem;
}

a {
  color: $font-grey;
}

a:hover {
  color: $light-blue;
}

.detailed-view-container {
  margin: 2% 10% 2% 5%;
}


.slide {
  text-align: center;
}


.date {
  font-family: 'karbid';
  font-size: 1rem;
  letter-spacing: 10px;
}

.rightnav {
  right: 15px;
  top: 46%;
}

.disabled {
  opacity: 0.1;
}

.square {
  border: 6px solid $border-grey;
}


// IMAGES

.logo {
  width: 350px;
  text-align: center;
}

.arrow-intra-right-grey {
  width: 53px;
}


a.leave {
  float: right;
  line-height: 32px;
  font-size: 0.8rem;
  &:before {
    content: '';
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 15px;
    background-image: url('../img/arrow-leave-grey.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:hover:before {
      background-image: url('../img/arrow-leave-blue.png');
  }
}


button.slick-prev, 
button.slick-next {
  background-color: transparent;
}

// .slick-prev:before,
// .slick-next:before {
//   color: $border-grey;
// }

.slick-prev:before, .slick-next:before { 
  font-family: "slick"; 
  font-size: 20px; 
  line-height: 1; 
  color: $border-grey !important; 
  opacity: 0.85; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
}



// EXTENSIONS
// ---------- ---------- ---------- ---------- ---------- ---------- 
//  ---------- ---------- ---------- ---------- ---------- ---------- ----------

.detailed-view {
  .row {
    margin-left: 0;
  }
  div.row:nth-child(1), div.row:nth-child(2) {
    border-bottom: 2px solid $border-grey;
    padding-bottom: 20px;
    max-width: 1024px;
  }
  div.row:nth-child(3) {
    padding-top: 30px;
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0.8rem;
    text-align: left;
  }
  h3 {
    line-height: 120%;
  }
  h4 {
    padding-left: 30px;
    padding-top: 5px;
  }
  p {
    margin-top: 30px;
  }
  .slick-slide > p {
    margin-left: 30px;
    margin-right: 30px;
    // max-width: 400px;
  }
}



// PAGES
// ---------- ---------- ---------- ---------- ---------- ---------- 
//  ---------- ---------- ---------- ---------- ---------- ---------- ----------


// HOME

#home {
  p, h1, h2, h3, h4 {
    text-align: center;
  }
  a {
    text-decoration: underline;
  }
  p {
    margin-top: 20px;
  }
}

// ALMOST EXACTLY

#almost-exactly {
  background-image: url('../img/room-1.png');
  background-size: cover;
  @extend .detailed-view;
  img.carousel-img {
    padding: 10px;
  }
}






