@import "settings";
// @import "foundation";

@font-face {
    font-family: 'sassoon';
    src: url('fonts/sassoon_primary-webfont.eot');
    src: url('fonts/sassoon_primary-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sassoon_primary-webfont.woff') format('woff'),
         url('fonts/sassoon_primary-webfont.ttf') format('truetype'),
         url('fonts/sassoon_primary-webfont.svg#sassoonroman_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'combiNumerals';
    src: url('fonts/combinumeralsltd-webfont.eot');
    src: url('fonts/combinumeralsltd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/combinumeralsltd-webfont.woff') format('woff'),
         url('fonts/combinumeralsltd-webfont.ttf') format('truetype'),
         url('fonts/combinumeralsltd-webfont.svg#combinumerals_ltdregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'satellite';
    src: url('satellite-webfont.eot');
    src: url('satellite-webfont.eot?#iefix') format('embedded-opentype'),
         url('satellite-webfont.woff') format('woff'),
         url('satellite-webfont.ttf') format('truetype'),
         url('satellite-webfont.svg#satelliteregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karbidFigures';
    src: url('karbid-normalfigures-webfont.eot');
    src: url('karbid-normalfigures-webfont.eot?#iefix') format('embedded-opentype'),
         url('karbid-normalfigures-webfont.woff') format('woff'),
         url('karbid-normalfigures-webfont.ttf') format('truetype'),
         url('karbid-normalfigures-webfont.svg#karbid_normalfiguresregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karbid';
    src: url('karbid-normal-webfont.eot');
    src: url('karbid-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('karbid-normal-webfont.woff') format('woff'),
         url('karbid-normal-webfont.ttf') format('truetype'),
         url('karbid-normal-webfont.svg#karbid_normalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #efefef;
  font-family: 'sassoon';
  letter-spacing: -1px;
  color: #666666;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1rem;
  line-height: 20px;
}

.section {
  text-align: center;
}

.slide {
  text-align: center;
}


.logo {
  width: 350px;
  text-align: center;
}


.date {
  font-family: 'karbid';
  font-size: 1rem;
  letter-spacing: 10px;
}

.rightnav {
  right: 15px;
  top: 46%;
}

.disabled {
  opacity: 0.1;
}

